.basic-radio{
    color: #D24848;
    font-weight: bold
}
.advanced-radio{
    color:#FFB33F;
    font-weight: bold

}
.pro-radio{
    color: #1FE1E9;
    font-weight: bold

}

.icon-link{display: none;}
.form-check-input:focus,.form-select:focus,.form-control:focus{border-color: #161816;  box-shadow: none; -webkit-box-shadow: none; border-width: 2px; border-bottom: 5px solid #2F1FE9} 
.basic-radio-input:checked{
    background-color:#D24848;
    border-color:#D24848
}
.advanced-radio-input:checked{
    background-color:#FFB33F;
    border-color:#FFB33F
}
.pro-radio-input:checked{
    background-color:#1FE1E9;
    border-color:#1FE1E9
}