.basic-radio{
    color: #D24848;
    font-weight: bold
}
.advanced-radio{
    color:#FFB33F;
    font-weight: bold

}
.pro-radio{
    color: #1FE1E9;
    font-weight: bold

}
input:focus{
    border-bottom: 5px solid #2F1FE9;
}
.icon-link{display: none;}
