.btn1{
    border-radius: 50px;
    text-align:center;
    height: 80px;
    width: 200px;
    transition: all 0.5s ease-out;
  }
  .gradient{ /* block background */
    background-color:#fff;
  }
  .gradient .btn1{ /* general */
    color:#fff;
    background-size: 100% auto;
    box-shadow:0px 0px 15px 0 rgba(0,0,0,.1);
  }
   .gradient .btn1:hover{
    background-image: linear-gradient(to right, #1FE1E9 0%,#2F1FE9 25%, #5E33D1 51%, #D34848 75%, #FFB33F 100%);
    background-size: 200% auto;
  }
  .gradient .btn-1{
    background-image: linear-gradient(to right, #1FE1E9 0%,#2F1FE9 25%, #5E33D1 51%, #D34848 75%, #FFB33F 100%);
  }

  